server {
    listen 80;
    server_name localhost;
    root /var/www/nginx-default/;
    index index.html index.htm index.php;
    location / { try_files $uri @yourapplication; }
    location @yourapplication {
        include uwsgi_params;
        uwsgi_pass 172.20.0.4/16:3031;
    }
}